<html>
  <head>
      <title>Anelita's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Mein Food-Blog</a></h1>
    </div>

    <div>
        <h2><a href="">Chocolate-Chip-Küchlein</a></h2>
        <p>published: 07.05.2017, 11:48</p>
        <p>Hier zeig ich euch ein super-leckeres Rezept, mit dem ihr euch den regnerischen Tag versüssen könnt</p>
    </div>

    <h3>Zutaten</h3>
    <ul>
      <li>2 Eier</li>
      <li>125gr Butter</li>
      <li>125gr Mehl</li>
      <li>100gr Zucker</li>
      <li>30gr gemahlene Nüsse</li>
      <li>100gr gehackte dunkle Schokolade</li>
    </ul>
    <h3>Vorgehen</h3>
      <p>Mischt alle Zutaten zusammen und füllt sie in Papierförmchen.</p>
      <p>Schiebt die Küchlein in den Ofen bei 180°C für etwa 10-15min.</p>

      <div>
          <h2><a href="">No-Bake Cheescake mit Erdbeeren</a></h2>
          <p>published: 08.05.2017, 12:48</p>
          <p>Ein erfrischendes Rezept für den Sommer</p>
      </div>
  </body>
</html>
